<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="col">
    <a href="/oauth2/authorization/google" class="btn btn-success active"  th:if="${username == null}"role="button">Google Login</a>
</div>
<div class="col">
    <img th:src="${image}"><p class="text-right" th:if="${username != null}" th:text="${username} + '님, 안녕하세요!'"></p>
    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
</div>


</body>
</html>